/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* Modal box */
.modal-content {
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  margin-top: 140px;
  font-family: Arial;
}

/* Close button */
.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

.item-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item-image img {
  width: 220px;
  height: auto;
  border-radius: 8px;
}

.item-details {
  flex: 1;
  line-height: 30px;
}

.item-title {
  background-color: #9b9b9b;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 10px;
}

.calendar-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.rent-btn {
  margin-top: 15px;
  background-color: #7ed957;
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  float: right;
}

.rent-btn:hover {
  background-color: #6ec24e;
}
